# Inconstencies in Python

In [16]:
import pandas as pd
import numpy as np

In [17]:
# data = {
#     'date':['2021-12-01','01-12-2022','2022/12/01','12-01-2021'],
#     'country':['USA','U.S.A','America','United States'],
#     'name':['John Doe','Jonh Doe','Jane Doe','Jane Doe'],
#     'sales_2020':[100,200,None,200],
#     'sales_2021':[None,150,300,150]


# make pandas dataframe
# df = pd.DataFrame(data)
# df.head()

In [18]:
# # standardising the date format
# df['date'] = pd.to_datetime(df['date'],errors='coerce')
# df['date'] = df['date'].dt.strftime('%d-%m-%y')
# df.head()

 # Assignment:
 
 ## impute fill the date and try another method to complete the data formet inconstancies

In [19]:
# df.head()

In [20]:


# # Group the dataframe by 'country' and apply the fillna() function to fill the date column
# df['date'] = df.groupby('country')['date'].ffill().bfill()

# print(df)

       date        country      name  sales_2020  sales_2021
0  01-12-21  United States  John Doe       100.0       150.0
2       NaN  United States  Jane Doe       200.0       300.0

In [21]:
# Hormonize the name of the country

# country_mapping = {'USA':'United States','U.S.A':'Unuted States','America':'United States'}
# df['country'] = df['country'].replace(country_mapping)
# df.head()

In [22]:
# correct the typographical mistakes it name
# df['name'] = df['name'].replace({'Jonh Doe':'John Doe'})
# df.head()

In [23]:
# df['sales_2020'] = df['sales_2020'].fillna(df['sales_2020'].median())
# df['sales_2021'] = df['sales_2021'].fillna(df['sales_2021'].median())

# df.head()

In [24]:
# # remove duplicates
# df = df.drop_duplicates(subset="name")
# df.head()

In [25]:
# resolving contrdictory data
# df = df.drop(
#     df[df['sales_2021']<= df['sales_2020']].index)
# df.head()

# Practice files

In [28]:
data = {
    'date':['2021-12-01','01-12-2022','2022/12/01','12-01-2021'],
    'country':['USA','U.S.A','America','United States'],
    'name':['John Doe','Jonh Doe','Jane Doe','Jane Doe'],
    'sales_2020':[100,200,None,200],
    'sales_2021':[None,150,300,150]
}
# make the dataframe
df = pd.DataFrame(data)
df.head()

         date        country      name  sales_2020  sales_2021
0  2021-12-01            USA  John Doe       100.0         NaN
1  01-12-2022          U.S.A  Jonh Doe       200.0       150.0
2  2022/12/01        America  Jane Doe         NaN       300.0
3  12-01-2021  United States  Jane Doe       200.0       150.0

In [39]:
# standardizing the date formet
df['date'] = pd.to_datetime(df['date'],errors='coerce')
df['date'] = df['date'].dt.strftime('%d-%m-%y')
df.head()

       date        country      name  sales_2020  sales_2021
0  21-01-12            USA  John Doe       100.0         NaN
1       NaN          U.S.A  Jonh Doe       200.0       150.0
2       NaN        America  Jane Doe         NaN       300.0
3       NaN  United States  Jane Doe       200.0       150.0

In [40]:
country_mapping = {'USA':'United States','U.S.A':'United States','America':'United States'}
df['country'] = df['country'].replace(country_mapping)
df.head()

       date        country      name  sales_2020  sales_2021
0  21-01-12  United States  John Doe       100.0         NaN
1       NaN  United States  Jonh Doe       200.0       150.0
2       NaN  United States  Jane Doe         NaN       300.0
3       NaN  United States  Jane Doe       200.0       150.0

In [43]:
# Correct the typographical mistakes in name
df['name'] = df['name'].replace({'Jonh Doe':'John Doe'})
df['name'] = df['name'].replace({'Jane Doe':'John Doe'})
df.head()

       date        country      name  sales_2020  sales_2021
0  21-01-12  United States  John Doe       100.0         NaN
1       NaN  United States  John Doe       200.0       150.0
2       NaN  United States  John Doe         NaN       300.0
3       NaN  United States  John Doe       200.0       150.0

In [45]:
# remove duplicates
df = df.drop_duplicates(subset='name')
df.head()

       date        country      name  sales_2020  sales_2021
0  21-01-12  United States  John Doe       100.0         NaN