# Feature Encoding

Feature encoding is the process of converting categorical variables (variables that take on a set of discrete values, like 'male' and 'female') into numerical form, which is a requirement for many machine learning algorithms.

Feature encoding methods vary, but one of the most common is One-Hot Encoding (OHE). In OHE, each categorical value is represented as a binary vector. For example, consider the categorical variable 'Gender' with values 'male', 'female', and 'other'. One-hot encoding would create a binary vector for each gender value: (1, 0, 0) for male, (0, 1, 0) for female, and (0, 0, 1) for other.


- Label Encoding
- Ordinal Encoding
- One-Hot Encoding
- Binery Encoding

In [2]:
# Import Libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# data load
# df = sns.load_dataset('tips')
# df.head()

In [4]:
# df['encoded_time'].value_counts()

In [5]:
# let's encode the time in labelencoder with sklearn

# from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
# le = LabelEncoder()
# df['encoded_time'] = le.fit_transform(df['time'])
# df.head()

In [6]:
# ordinal encoding the column using specific order
# df['day'].value_counts()

In [7]:
# df['encoded_day'].value_counts()

In [8]:
# oe = OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']])
# df['encoded_day'] = oe.fit_transform(df[['day']])
# df.head()

In [9]:
# One-hot encoding on day column
# one = OneHotEncoder()
# one.fit_transform(df[['time']]).toarray()

In [10]:
# !pip install category_encoders

In [11]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
from category_encoders import BinaryEncoder
be = BinaryEncoder()
df_binery = be.fit_transform(df['day'])
df_binery

     day_0  day_1  day_2
0        0      0      1
1        0      0      1
2        0      0      1
3        0      0      1
4        0      0      1
..     ...    ...    ...
239      0      1      0
240      0      1      0
241      0      1      0
242      0      1      0
243      0      1      1

[244 rows x 3 columns]

## Assignmwnt : How many types of feature encoding there?

## Assignment : When to use which type of feature encoding

In [13]:
# use pandas for feature encoding
# df =sns.load_dataset('tips')
# df.head()

In [14]:
# pandas get dummies

# get_dummies = pd.get_dummies(df,columns=['day'])
# get_dummies.head()

-------------------------------------------------------
# Practice File Feature Encoding

In [15]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [16]:
df['encoded_time'].value_counts()

KeyError: 'encoded_time'

In [ ]:
df['encoded_day'].value_counts()

In [ ]:
df['smoker'].value_counts()

In [ ]:
df['sex'].value_counts()

In [ ]:
# let's encode the time
from sklearn.preprocessing import LabelEncoder, OneHotEncoder,OrdinalEncoder


le = LabelEncoder()
df['encoded_time'] = le.fit_transform(df['time'])
df.head()

In [ ]:
# ordinal encoding

oe = OrdinalEncoder(categories=[['Thur','Fri','Sat','Sun']])
df['encoded_day'] = oe.fit_transform(df[['day']])
df.head()

In [ ]:
ohe = OneHotEncoder()
ohe.fit_transform(df[['smoker']]).toarray()

In [ ]:
titanic = sns.load_dataset('titanic')
titanic

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
onehot_encoder = OneHotEncoder(sparse=False)
embarked_onehot = onehot_encoder.fit_transform(titanic[['embarked']])
embarked_onehot_df = pd.DataFrame(embarked_onehot, columns=onehot_encoder.get_feature_names_out(['embarked']))
titanic = pd.concat([titanic.reset_index(drop=True),embarked_onehot_df.reset_index(drop=True)],axis=1)
titanic.head()

In [ ]:
!pip install category_encoders

In [ ]:
df = sns.load_dataset('tips')

In [ ]:
from category_encoders import BinaryEncoder
binery_encoder = binery_encoder()
df_binery = binery_encoder.fit_transform(df['day'])
df_binery