# Ridge Regression
Ridge Regression is a regularized version of Linear Regression: a regularization term equal to $\alpha \sum_{i=1}^n \theta_i^2$ is added to the cost function. This forces the learning algorithm to not only fit the data but also keep the model weights as small as possible. Note that the regularization term should only be added to the cost function during training. Once the model is trained, you want to evaluate the model's performance using the unregularized performance measure.

In [28]:
from sklearn.linear_model import Ridge
import numpy as np

# example data
x = np.array([[1,1],[1,2],[2,2],[2,3]])
# target values
y = np.dot(x, np.array([1,2])) + 3

# Ridge regression  model
ridge_reg = Ridge(alpha=1.0) # alpha is the equivalent of lamda in the formula
ridge_reg.fit(x,y)

# Coefficient 
print('Coefficient', ridge_reg.coef_)

# intercept
print('Intercept', ridge_reg.intercept_)

Coefficient [0.8 1.4]
Intercept 4.5

# Comparing Simple Linear Regression  vs Ridge Regression

In [29]:
# import Libraries
import seaborn as sns
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error,mean_absolute_percentage_error
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

In [30]:
# load the titanic dataset 
df = sns.load_dataset("titanic")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

# Pre-Process The data

In [31]:
# selecting the subset of data  for simplicity
columns_to_use = ['survived','pclass','sex','age','fare']
df = df[columns_to_use]

# handling missing values
df['age'].fillna(df['age'].median(),inplace=True)

#  define features and target variable
X = df.drop('survived',axis=1)
y = df['survived']

# split the dataset into training and testing data
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=0)

In [32]:
# creating a pipeline for onehotEncoding and model
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import Pipeline
from sklearn.linear_model import Ridge
categorical_features = ['sex']
numerical_features = ['pclass','age','fare']

# Prepocessor
preprocessor = ColumnTransformer(
    transformers=[
        ('num','passthrough',numerical_features),
        ('cat', OneHotEncoder(), categorical_features)
    ]
)

# Linear Regression Pipeline
lr_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('regressor', LinearRegression())])

# Ridge Regression Pipeline
ridge_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                                    ('regressor', Ridge(alpha=1.0))])

## Train and evaluate the model

In [33]:

from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error
import numpy as np
lr_pipeline.fit(X_train, y_train)
lr_pred = lr_pipeline.predict(X_test)
lr_mse = mean_squared_error(y_test, lr_pred)
lr_r2 = r2_score(y_test, lr_pred)
lr_mae = mean_absolute_error(y_test, lr_pred)
lr_mape = mean_absolute_percentage_error(y_test, lr_pred)
lr_rmse = np.sqrt(lr_mse)

In [34]:
import numpy as np
ridge_pipeline.fit(X_train,y_train)
ridge_pred = ridge_pipeline.predict(X_test)
ridge_mse = mean_squared_error(y_test,ridge_pred)
ridge_r2 = r2_score(y_test,ridge_pred)
ridge_mae = mean_absolute_error(y_test,ridge_pred)
ridge_mape = mean_absolute_percentage_error(y_test,ridge_pred)
ridge_rmse = np.sqrt(ridge_mse)

In [35]:
print('Linear Regression MSE:', lr_mse)
print('Ridge Regression MSE:', ridge_mse)

print('LinearRegression R2',lr_r2)
print('RidgeRegression R2', ridge_r2)

print('LinearRegression RMSE', lr_rmse)
print('RidgeRegression RMSE',ridge_rmse)

print('LinearRegression MAE', lr_mae)
print('RidgeRegression MAE', ridge_mae)

print('LinearRegression MAPE', lr_mape)
print('LinearRegression MAPE',ridge_mape)

Linear Regression MSE: 0.13684268526287455
Ridge Regression MSE: 0.1368602274478447
LinearRegression R2 0.4223219395905451
RidgeRegression R2 0.42224788568426985
LinearRegression RMSE 0.3699225395442599
RidgeRegression RMSE 0.3699462494036731
LinearRegression MAE 0.2888229558416339
RidgeRegression MAE 0.28923126730713666
LinearRegression MAPE 697272156502682.2
LinearRegression MAPE 698032476179650.0