# Decision Tree Algorithm

In [59]:
import math

In [60]:
# Example dataset
# Let's say we have a dataset with A,B
# Suppose in a dataset of 10 elements 4 are of class 1 and 6 are of class B

# Number of elements in each class

n_a = 4
n_b = 6
total = n_a+n_b

In [61]:
# Let's calculate the praportions
p_a = n_a / total
p_b = n_b / total

# print the proportions

print('Proportion of A',p_a)
print('Proportion of B',p_b)

Proportion of A 0.4
Proportion of B 0.6

In [62]:
# Entropy Calculate
# ENtropy is a measure of uncertainity

Entropy = p_a * math.log(p_a,2) - p_b * math.log(p_b, 2)
print(Entropy)

-0.08659188145522112

In [63]:
# gini impurity
# Gini impurity is a measure of misclassification

gini = 1 - p_a**2 - p_b**2
print("Gini Impurity",gini)

Gini Impurity 0.48

In [64]:
# information gain 
# Assuming a split on some features devided the dataset into two subset
# Subset 1: 2 elements of A , 3 of B
# Subset 2: 3 elements of A , 3 of B
# Entropy and size for each subset

n1a , n1b = 2,3
n2a , n2b = 2,3

p1a = n1a / (n1a + n1b)
p1b = n1b / (n1a + n1b)
entropy_1 = p1a * math.log2(p1a) - p1b * math.log2(p1b) if p1a and p1b else 0

p2a = n2a / (n2a + n2b)
p2b = n2b / (n2a + n2b)
entropy_2 = p2a * math.log2(p2a) - p2b * math.log2(p2b) if p2a and p2b else 0

# Calulating Information Gain
info_gain = Entropy - ((n1a + n1b) / total * entropy_1 + (n2a + n2b) / total * entropy_2)
print('information gain',info_gain)

information gain 0.0

-----------------
# Decision Tree Example in  Python

In [65]:
# import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier,DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer

In [66]:
# import data
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [67]:
# drop deck column
df.drop('deck',axis=1,inplace=True)

In [68]:
# impute missing values of age, and fare using median
imputer = SimpleImputer(strategy='median')
df[['age', 'fare']] = imputer.fit_transform(df[['age', 'fare']])

In [69]:
# impute missing values of embarked using mode
imputer = SimpleImputer(strategy='most_frequent')
df[['embarked','embark_town']] = imputer.fit_transform(df[['embarked','embark_town']])

In [70]:
df.isnull().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

In [71]:
# incode the catagorical and object variables using for loop

le = LabelEncoder()
for col in df.select_dtypes(include=['category','object']):
    df[col] = le.fit_transform(df[col])

In [72]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,embark_town,alive,alone
0,0,3,1,22.0,1,0,7.2500,2,2,1,True,2,0,False
1,1,1,0,38.0,1,0,71.2833,0,0,2,False,0,1,False
2,1,3,0,26.0,0,0,7.9250,2,2,2,False,2,1,True
3,1,1,0,35.0,1,0,53.1000,2,0,2,False,2,1,False
4,0,3,1,35.0,0,0,8.0500,2,2,1,True,2,0,True

In [73]:
# split the data into X and y
X = df.drop('survived', axis=1)
y = df['survived']

In [74]:
# split the data into train and test

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [75]:
# Create and train the model
model = DecisionTreeRegressor()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

In [76]:
# evaluate the model
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test, y_pred))

[[105   0]
 [  0  74]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00       105
           1       1.00      1.00      1.00        74

    accuracy                           1.00       179
   macro avg       1.00      1.00      1.00       179
weighted avg       1.00      1.00      1.00       179

In [77]:
# save the model
from sklearn.tree import export_graphviz
export_graphviz(model,out_file='decision_tree_03.dot',feature_names=X.columns,filled=True,rounded=True)